[submodule "rust/drop_duplicate_files"]
	path = rust/drop_duplicate_files
	url = git@github.com:amachang/drop_duplicate_files.git
[submodule "rust/fq"]
	path = rust/fq
	url = git@github.com:amachang/fq.git
[submodule "rust/rename_video_files"]
	path = rust/rename_video_files
	url = git@github.com:amachang/rename_video_files.git
[submodule "rust/gofile"]
	path = rust/gofile
	url = git@github.com:amachang/gofile.git
